.sidebar{
    position: fixed;
   z-index: 6;
    left: 0;
    top: 55px;
    bottom:0;
    width: 60px;
}
.sidebar-link{
    height: 49px;
    width: auto;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
 } 
 .sidebar-link:hover{
    background-color: rgb(226, 223, 223);
    cursor: pointer;
 
 }
 .sidebar-link img{
    height: 19px;
 }
 .sidebar-link div{

    font-family:Roboto, Arial;
    font-size: 7px;
    
   
 }