p{
    font-family:Roboto, Arial;
   
}


 .thumbnail{
    width: 100%;
    border-radius: 7px;
     /* display:  block;  */
   
} 
.title{
    width: 100%;
    display: inline-block;
    size: 29px;
   font-size: 12px;
  font-weight: 500;
   color: black;
line-height: 20px;
margin-bottom: 2px;
margin-top: 0;

} 
/* .video-preview{
     display: inline-block;
    vertical-align: top; 
    margin-right: 17px;
} */
.hamburger-menu{
    height: 20px;
    margin-left: 20px;
    margin-right: 25px;
}
.youtube-logo{
    height: 17px;
}


.author{
    
  
    margin-bottom: 2px;
    font-size: 10px;
    color: rgb(96, 96, 96);
    
}
.stats{
    font-size: 7px;
    margin-top: 5px;
    color: rgb(96, 96, 96);
    margin-top: 0;
}

.video-info{
    /* display: inline-block;
    width: 170px; */
 padding-left: 5px;
    
}
.video-info-grid{
    
    display: grid;
  grid-template-columns: 26px 1fr;
  padding-bottom: 5px;
   
} 
/* .channel-picture{
    /* display: inline-block;
    width: 26px;
    vertical-align: top; 
    } */
.profile-picture{
    width: 100%;
    border-radius: 30px;
    
}
.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}
 .video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 6px;
    column-gap: 15px;
    
    /* margin-top: 60px; */
 }
 body{
    margin: 0;
    padding-top: 60px;
    padding-left: 80px;
    background-color: rgb(248, 243, 243);
 }
 .video-time{
    font-family:Roboto, Arial ;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 7px;
    font-size: 10px;
    font-weight: 500px;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
   
    
 }
    
  


